# Import Libraries

In [1]:
import os
import glob
import pandas as pd

# Find all the file names to merge

In [2]:
data_folder = './data'
data_folder = './archive/stock_market_data/nasdaq/csv'

os.chdir(data_folder)

In [3]:
stocks_in_graph_data = ['AAL',
  'AAPL',
  'ALGN',
  'AMD',
  'AMGN',
  'AMZN',
  'ATVI',
  'BIDU',
  'BIIB',
  'CAC',
  'CAR',
  #'CBOE',
  'CCRN',
  'CDNS',
  'CHKP',
  'CMCSA',
  'COST',
  'CYH',
  'EBAY',
  'EQIX',
  'EXAS',
  'FFIV',
  #'FREE',
  'FUND',
  #'III',
  'INTC',
  'IRBT',
  'ISRG',
  'LRCX',
  'MITK',
  'MKSI',
  'MPAA',
  'MSFT',
  'NFLX',
  'NVDA',
  'NWBI',
  'OIS',
  'OKE',
  'PNFP',
  'REGN',
  'ROST',
  'RRGB',
  #'RVNC',
  'SBUX',
  'SEAC',
  'SGEN',
  'SIMO',
  'SWKS',
  'TXN',
  'VRTX',
  'WDC']

In [4]:
# Not Used fileTypesToMerge; may use for daily close price or price in every minute data

fileTypesToMerge = '';
extension = 'csv';
all_filenames = [i for i in glob.glob('*' + fileTypesToMerge + '*.{}'.format(extension))]
all_filenames_no_extension = [i[:-4] for i in glob.glob('*' + fileTypesToMerge + '*.{}'.format(extension))]
all_filenames[:10]

# take a subset of the data for experiment
list_of_files_to_process = list(set(all_filenames_no_extension).intersection(set(stocks_in_graph_data))) #[:10]
list_of_files_to_process[:100]

['MKSI',
 'TXN',
 'ISRG',
 'NVDA',
 'EQIX',
 'MPAA',
 'CDNS',
 'AAL',
 'CAR',
 'IRBT',
 'OKE',
 'OIS',
 'AMD',
 'MSFT',
 'BIIB',
 'COST',
 'CCRN',
 'FUND',
 'PNFP',
 'ALGN',
 'BIDU',
 'ROST',
 'REGN',
 'EBAY',
 'RRGB',
 'CYH',
 'SGEN',
 'CMCSA',
 'SIMO',
 'VRTX',
 'FFIV',
 'NFLX',
 'CHKP',
 'LRCX',
 'NWBI',
 'MITK',
 'ATVI',
 'EXAS',
 'AMZN',
 'WDC',
 'AAPL',
 'INTC',
 'AMGN',
 'SEAC',
 'SWKS',
 'SBUX',
 'CAC']

In [5]:
len(list_of_files_to_process)

47

# Insert Stock Ticker. Save data in new files

In [6]:
from os.path import exists
row_total_count = 0
# modified = 'modified/'
modified = 'modified/'
for f in list_of_files_to_process:
    f = f + ".csv";
    print(f);
    
    file_exists = exists(modified + f)
    if file_exists:
        # print('file exists');
        # break;
        continue;

    try:    
        df_s = pd.read_csv(f)
        df_s.insert(0, "Ticker", [f[:-4]] * df_s.shape[0], allow_duplicates = True)
        
        print(min(df_s['Date']))
        
        df_s.to_csv(modified + f);
        row_total_count += df_s.shape[0]
    except:
        continue;
    finally:
        continue;

row_total_count

MKSI.csv
TXN.csv
ISRG.csv
NVDA.csv
EQIX.csv
MPAA.csv
CDNS.csv
AAL.csv
CAR.csv
IRBT.csv
OKE.csv
OIS.csv
AMD.csv
MSFT.csv
BIIB.csv
COST.csv
CCRN.csv
FUND.csv
PNFP.csv
ALGN.csv
BIDU.csv
ROST.csv
REGN.csv
EBAY.csv
RRGB.csv
CYH.csv
SGEN.csv
CMCSA.csv
SIMO.csv
VRTX.csv
FFIV.csv
NFLX.csv
CHKP.csv
LRCX.csv
NWBI.csv
MITK.csv
ATVI.csv
EXAS.csv
AMZN.csv
WDC.csv
AAPL.csv
INTC.csv
AMGN.csv
SEAC.csv
SWKS.csv
SBUX.csv
CAC.csv

0

# Combine all files in the list into one file

In [7]:
# Combine

combined_csv = pd.concat([pd.read_csv(modified + f + ".csv") for f in list_of_files_to_process]);

# export to csv
#combined_csv.to_csv( "../combined_data/stock-price-" + fileTypesToMerge + "-all-merged.csv", index = False, encoding = 'utf-8-sig')
combined_csv.to_csv( "../nasdq-stock-price-" + fileTypesToMerge + "-all-merged.csv", index = False, encoding = 'utf-8-sig')

# Compare the size before and after merging

In [8]:
print('Size before Merge');
row_total_count

Size before Merge

0

In [9]:
print('Size After Merge');
#df = pd.read_csv("../combined_data/stock-price-" + fileTypesToMerge + "-all-merged.csv")
df = pd.read_csv("../nasdq-stock-price-" + fileTypesToMerge + "-all-merged.csv")
df.shape

Size After Merge

C:\Users\sayed\AppData\Local\Temp\ipykernel_30364\3250555256.py:3: DtypeWarning: Columns (4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../nasdq-stock-price-" + fileTypesToMerge + "-all-merged.csv")

(351369, 13)

In [10]:
# Check the combined data

In [11]:
df.head()
# df.tail()

,Unnamed: 0,Ticker,Date,Low,Open,Volume,High,Close,Adjusted Close,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,0,MKSI,30-03-1999,13.6250,14.0625,4592500.0,14.5,14.0625,11.944931,NaN,NaN,NaN,NaN
1,1,MKSI,31-03-1999,13.3750,14.125,923300.0,14.125,13.3750,11.360952,NaN,NaN,NaN,NaN
2,2,MKSI,01-04-1999,13.3750,13.375,312400.0,13.75,13.5000,11.467128,NaN,NaN,NaN,NaN
3,3,MKSI,05-04-1999,13.1875,13.625,200600.0,13.625,13.5000,11.467128,NaN,NaN,NaN,NaN
4,4,MKSI,06-04-1999,13.5000,13.5,106200.0,13.75,13.6250,11.573309,NaN,NaN,NaN,NaN

In [12]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,351359,351360,351361,351362,351363,351364,351365,351366,351367,351368
Unnamed: 0,0,1,2,3,4,5,6,7,8,9,...,6327,6328,6329,6330,6331,6332,6333,6334,6335,6336
Ticker,MKSI,MKSI,MKSI,MKSI,MKSI,MKSI,MKSI,MKSI,MKSI,MKSI,...,CAC,CAC,CAC,CAC,CAC,CAC,CAC,CAC,CAC,CAC
Date,30-03-1999,31-03-1999,01-04-1999,05-04-1999,06-04-1999,07-04-1999,08-04-1999,09-04-1999,12-04-1999,13-04-1999,...,29-11-2022,30-11-2022,01-12-2022,02-12-2022,05-12-2022,06-12-2022,07-12-2022,08-12-2022,09-12-2022,12-12-2022
Low,13.625,13.375,13.375,13.1875,13.5,13.5625,14.0,13.625,13.5,13.25,...,42.66,41.939999,42.73,42.669998,41.470001,41.43,41.580002,41.619999,41.599998,41.785
Open,14.0625,14.125,13.375,13.625,13.5,13.5625,14.0,14.0,13.625,13.5,...,42.849998,42.880001,43.880001,42.779999,42.880001,41.799999,42.0,41.919998,41.98,41.950001
Volume,4592500.0,923300.0,312400.0,200600.0,106200.0,147600.0,62000.0,195100.0,23000.0,30500.0,...,19000.0,111400.0,45000.0,31700.0,31900.0,39200.0,19200.0,21500.0,19900.0,3731.0
High,14.5,14.125,13.75,13.625,13.75,14.125,14.0,14.125,13.625,13.5,...,43.02,43.860001,43.880001,43.189999,42.880001,42.099998,42.189999,42.150002,42.220001,42.349998
Close,14.0625,13.375,13.5,13.5,13.625,14.0,14.0,13.625,13.5,13.25,...,42.709999,43.779999,42.990002,43.189999,41.709999,41.939999,41.779999,41.950001,42.099998,42.345001
Adjusted Close,11.944931,11.360952,11.467128,11.467128,11.573309,11.89184,11.89184,11.573309,11.467128,11.254778,...,42.709999,43.779999,42.990002,43.189999,41.709999,41.939999,41.779999,41.950001,42.099998,42.345001
Unnamed: 7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# find dates of the stock prices
import datetime

min_date_to_work_with = datetime.date(1900,1,1);

for f in list_of_files_to_process:
    f = f + ".csv";
    
    file_exists = exists(modified + f)
    if file_exists:

        df_s = pd.read_csv(modified + f, parse_dates=['Date'], dayfirst=True)          
        #pd.to_datetime(df_s.day, dayfirst=True)
        #df_s["Date"] = df_s["Date"].astype('datetime64[ns]');
        
        min_ticker = min(df_s['Date'])
        #min_date = s.split("-");
        #min_ticker = datetime.date(int(min_date[2]), int(min_date[1]), int(min_date[0]));
        #print(min_ticker, min_date_to_work_with)
        if (pd.Timestamp(min_ticker) > pd.Timestamp(min_date_to_work_with)):
            min_date_to_work_with = min_ticker
            print(f, min_date_to_work_with);

MKSI.csv 1999-03-30 00:00:00
ISRG.csv 2000-06-16 00:00:00
EQIX.csv 2000-08-11 00:00:00
AAL.csv 2005-09-27 00:00:00
IRBT.csv 2005-11-09 00:00:00

In [14]:
# find dates of the stock prices
import datetime

max_date_to_work_with = datetime.date(2025,1,1);

for f in list_of_files_to_process:
    f = f + ".csv";
    
    file_exists = exists(modified + f)
    if file_exists:

        df_s = pd.read_csv(modified + f, parse_dates=['Date'], dayfirst=True)          
        
        max_ticker = max(df_s['Date'])
        print(f, max_date_to_work_with);
        if (pd.Timestamp(max_ticker) < pd.Timestamp(max_date_to_work_with)):
            max_date_to_work_with = max_ticker
            print(f, max_date_to_work_with);

MKSI.csv 2025-01-01
MKSI.csv 2022-12-12 00:00:00
TXN.csv 2022-12-12 00:00:00
ISRG.csv 2022-12-12 00:00:00
NVDA.csv 2022-12-12 00:00:00
EQIX.csv 2022-12-12 00:00:00
MPAA.csv 2022-12-12 00:00:00
CDNS.csv 2022-12-12 00:00:00
AAL.csv 2022-12-12 00:00:00
CAR.csv 2022-12-12 00:00:00
IRBT.csv 2022-12-12 00:00:00
OKE.csv 2022-12-12 00:00:00
OIS.csv 2022-12-12 00:00:00
AMD.csv 2022-12-12 00:00:00
MSFT.csv 2022-12-12 00:00:00
BIIB.csv 2022-12-12 00:00:00
COST.csv 2022-12-12 00:00:00
CCRN.csv 2022-12-12 00:00:00
FUND.csv 2022-12-12 00:00:00
PNFP.csv 2022-12-12 00:00:00
ALGN.csv 2022-12-12 00:00:00
BIDU.csv 2022-12-12 00:00:00
ROST.csv 2022-12-12 00:00:00
REGN.csv 2022-12-12 00:00:00
EBAY.csv 2022-12-12 00:00:00
RRGB.csv 2022-12-12 00:00:00
CYH.csv 2022-12-12 00:00:00
SGEN.csv 2022-12-12 00:00:00
CMCSA.csv 2022-12-12 00:00:00
SIMO.csv 2022-12-12 00:00:00
VRTX.csv 2022-12-12 00:00:00
FFIV.csv 2022-12-12 00:00:00
NFLX.csv 2022-12-12 00:00:00
CHKP.csv 2022-12-12 00:00:00
LRCX.csv 2022-12-12 00:00:00
NWBI.csv 2022-12-12 00:00:00
MITK.csv 2022-12-12 00:00:00
ATVI.csv 2022-12-12 00:00:00
EXAS.csv 2022-12-12 00:00:00
AMZN.csv 2022-12-12 00:00:00
WDC.csv 2022-12-12 00:00:00
AAPL.csv 2022-12-12 00:00:00
INTC.csv 2022-12-12 00:00:00
AMGN.csv 2022-12-12 00:00:00
SEAC.csv 2022-12-12 00:00:00
SWKS.csv 2022-12-12 00:00:00
SBUX.csv 2022-12-12 00:00:00
CAC.csv 2022-12-12 00:00:00

In [16]:
df["Date"] = df["Date"].astype('datetime64[ns]')
df = df.sort_values( by = 'Date', ascending = True )
df

C:\Users\sayed\AppData\Local\Temp\ipykernel_30364\2147374738.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df["Date"] = df["Date"].astype('datetime64[ns]')

,Unnamed: 0,Ticker,Date,Low,Open,Volume,High,Close,Adjusted Close,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
5967,0,TXN,1972-01-06,1.690104,0.0,825600.0,1.704427,1.701823,0.739382,NaN,NaN,NaN,NaN
6009,42,TXN,1972-01-08,1.785156,1.78776,1843200.0,1.820313,1.820313,0.791849,NaN,NaN,NaN,NaN
6032,65,TXN,1972-01-09,1.825521,1.825521,499200.0,1.847656,1.830729,0.796379,NaN,NaN,NaN,NaN
6074,107,TXN,1972-01-11,1.833333,1.85026,1248000.0,1.856771,1.843750,0.803002,NaN,NaN,NaN,NaN
6094,127,TXN,1972-01-12,1.781250,1.78125,1420800.0,1.795573,1.795573,0.782020,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
227396,5175,NFLX,2022-12-12,310.269989,320.0,4336272.0,323.17999267578125,312.079987,312.079987,NaN,NaN,NaN,NaN
278695,6437,AMZN,2022-12-12,87.870003,89.209999,20447633.0,89.5,88.605003,88.605003,NaN,NaN,NaN,NaN
216299,7907,VRTX,2022-12-12,311.170013,315.2200012207031,296107.0,315.4100036621094,313.144989,313.144989,NaN,NaN,NaN,NaN
351368,6336,CAC,2022-12-12,41.785000,41.950001,3731.0,42.349998,42.345001,42.345001,NaN,NaN,NaN,NaN
243788,9731,LRCX,2022-12-13,457.519989,455,455.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df = df[ df['Date'] >= min_date_to_work_with ] 
df

,Unnamed: 0,Ticker,Date,Low,Open,Volume,High,Close,Adjusted Close,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
1644,1644,MKSI,2005-11-10,17.100000,17.549999,309100.0,17.709999,17.209999,14.618467,NaN,NaN,NaN,NaN
144756,1180,ALGN,2005-11-10,6.540000,6.63,813700.0,6.66,6.590000,6.590000,NaN,NaN,NaN,NaN
14388,8421,TXN,2005-11-10,29.200001,30.08,18085200.0,30.5,29.370001,20.624651,NaN,NaN,NaN,NaN
62090,5571,CAR,2005-11-10,31.216000,31.952,2903000.0,32.208,31.375999,30.960777,NaN,NaN,NaN,NaN
211977,3585,VRTX,2005-11-10,20.600000,21.36000061035156,1231500.0,21.700000762939453,20.870001,20.870001,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
227396,5175,NFLX,2022-12-12,310.269989,320.0,4336272.0,323.17999267578125,312.079987,312.079987,NaN,NaN,NaN,NaN
278695,6437,AMZN,2022-12-12,87.870003,89.209999,20447633.0,89.5,88.605003,88.605003,NaN,NaN,NaN,NaN
216299,7907,VRTX,2022-12-12,311.170013,315.2200012207031,296107.0,315.4100036621094,313.144989,313.144989,NaN,NaN,NaN,NaN
351368,6336,CAC,2022-12-12,41.785000,41.950001,3731.0,42.349998,42.345001,42.345001,NaN,NaN,NaN,NaN
243788,9731,LRCX,2022-12-13,457.519989,455,455.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df = df[ df['Date'] <= max_date_to_work_with ] 
df.head()
df.tail()

,Unnamed: 0,Ticker,Date,Low,Open,Volume,High,Close,Adjusted Close,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
81354,10639,OKE,2022-12-12,63.810001,63.919998,531690.0,64.894997,64.739998,64.739998,NaN,NaN,NaN,NaN
227396,5175,NFLX,2022-12-12,310.269989,320.0,4336272.0,323.17999267578125,312.079987,312.079987,NaN,NaN,NaN,NaN
278695,6437,AMZN,2022-12-12,87.870003,89.209999,20447633.0,89.5,88.605003,88.605003,NaN,NaN,NaN,NaN
216299,7907,VRTX,2022-12-12,311.170013,315.2200012207031,296107.0,315.4100036621094,313.144989,313.144989,NaN,NaN,NaN,NaN
351368,6336,CAC,2022-12-12,41.785000,41.950001,3731.0,42.349998,42.345001,42.345001,NaN,NaN,NaN,NaN

In [20]:
df.to_csv( "../nasdq-stock-price-" + fileTypesToMerge + "-all-merged.csv", index = False, encoding = 'utf-8-sig')